body p{
    display: flex;
    justify-content: center;
    font-size: 30px;
}

.square {
    border: 1px solid black;
    width: 58px;
    height: 58px;
    margin:0 0;
    gap:0;
    
}

#container {
    display: flex;
    flex-wrap: wrap;   
    width: 960px;
    height: 960px;
    border: 4px solid black;
    justify-content:flex-start;
    margin: 0 auto;

}