body p{
    display: flex;
    justify-content: center;
    font-size: 30px;
}

.square {
    border: 1px solid black;
    
}

#container {
    display: flex;
    flex-wrap: wrap;
    width: 960px;
    height: 960px;
    border: 4px solid black;
    justify-content:center;
    margin: 0 auto;
}