#title {
    display: flex;
    justify-content: center;
    font-size: 40px;
    padding: 0%;
    margin: 0;
}

p {
    margin: 0;
}

#toolBar {
    display: flex;
    justify-content: center;
    gap: 10px;
}

body {
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.square {
    border: 1px solid grey;
    user-select: none;
    margin:0 0;
    gap:0;
    
}

#container {
    display: flex;
    flex-wrap: wrap;   
    width: 800px;
    height: 800px;
    border: 4px solid black;
    justify-content:flex-start;
    margin: 0 auto;
}

.colored {
    background-color: black;
}